.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(circle, #9dc284, #a5ca8c, #add194, #b5d99c, #bde1a4, #bae4ac, #b7e7b3, #b4eabb, #a8e8c4, #9fe5cd, #99e2d4, #96deda);
  padding: 1rem;
  z-index: 10;
}

.form-container {
  background-color: #f1f1f11f;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  z-index: 9;
}
.container-login {
  position: relative; /* Allow absolute positioning within this container */
  overflow: hidden;  /* Prevent overflow issues */
  height: 100vh;    /* Ensure the full height of the viewport */
}
.svg-container {
  position: absolute;
  top: -226px;
  right: -293px;
  width: 700px;
  height: auto;
  z-index: 8;
}
.svg-container-2 {
  position: absolute;
  bottom: -234px;
  left: -320px;
  width: 700px;
  height: auto;
  z-index: 8;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.logo-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-image {
  width: 10rem;
  height: 10rem;
  max-width: 110%;
  
 
}

.signin-title {
  font-size: 2.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

.error-alert {
  display: flex;
  align-items: center;
  background-color: #fee2e2;
  border: 1px solid #fecaca;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.error-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #dc2626;
  margin-right: 0.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  font-size: 1rem;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.445);
  color: black;
}

.input-field:focus {
  outline: none;
  border-color: #059669;
  box-shadow: 0 0 0 2px rgba(5, 150, 105, 0.2);
}

.login-button {
  width: 40%;
  padding: 0.75rem 1rem;
  background-color: #059669;
  color: white;
  border: none;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: center;
}

.login-button:hover {
  background-color: #047857;
}

.signup-text {
  text-align: center;
  margin-top: 1.5rem;
  color: #4b5563;
}

.signup-link {
  color: #059669;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .form-container {
    padding: 1.5rem;
  }

  .signin-title {
    font-size: 2.5rem;
  }

  .logo-container {
    width: 9rem;
    height: 9rem;
  }

  .logo-image {
    width: 10rem;
    height: 10rem;
    
  }
}